@{
    ViewBag.Title = "Contacto";
}

<div class="container-fluid px-4 mt-4">
    <h2 class="mb-4">@ViewBag.Title</h2>

    <div class="card shadow-lg">
        <div class="card-header">
            <i class="fas fa-envelope me-1"></i> Información de contacto
        </div>
        <div class="card-body">
            <address>
                <strong>Ubicación:</strong><br />
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">Tel:</abbr> 425.555.0100
            </address>

            <hr />

            <address>
                <p><strong>Soporte:</strong> <a href="mailto:Support@example.com">Support@example.com</a></p>
                <p><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a></p>
            </address>
        </div>
    </div>
</div>
