@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid px-4 mt-4">
    <h1 class="mb-4">Bienvenido</h1>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Getting Started</h5>
                    <p class="card-text">
                        ASP.NET MVC te brinda una poderosa forma basada en patrones para construir sitios web dinámicos con una separación clara de responsabilidades.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary">Aprender más &raquo;</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Get More Libraries</h5>
                    <p class="card-text">
                        NuGet es una extensión gratuita que facilita agregar, quitar y actualizar bibliotecas y herramientas en tus proyectos.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301866" class="btn btn-primary">Aprender más &raquo;</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Web Hosting</h5>
                    <p class="card-text">
                        Encuentra fácilmente un proveedor de hosting con el equilibrio ideal entre características y precio para tus aplicaciones.
                    </p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301867" class="btn btn-primary">Aprender más &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
